<h1>Add New Artist</h1>

<p>Add Artist here:</p>

<form action="/artists" method="post">
  <label for="name">Artist's Name</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Artist</button>
</form>
